@import "../../variables.scss";

.Contacts{
    
    &_content{
        position: relative;
        
        margin-bottom: 50px;
        margin-top: 50px;
        
        aspect-ratio: 10 / 4;
        
        @media (min-width: 768px){
            display: flex;
            justify-content: center;
            align-items: center;
            
            border-radius: 6% / 16%;
            padding: clamp(20px, 3vw, 40px);
            background-color: $card-green;
        }
        
        &_line{
            position: absolute;
            bottom: 20px;
            left: 50%;
            width: 200%;
            
            display: none;
            
            @media (min-width: 768px){
                display: block;
                
                width: 90%;
                
                &_top{
                    top: 20px;
                    transform: translate(-50%, 0%) rotateY(180deg) rotateZ(0deg);
                }
                
                &_bottom{
                    transform: translate(-50%, 0%) rotate(0deg);
                }
            }
        }
    }
    
     &_text{
        font-family: $font-advent;
        font-size: clamp(1.2rem, 4.6vw, 2.8rem);
        line-height: 1.2;
        text-align: center;
        
        @media (min-width: 768px){
            font-size: clamp(1.4rem, 2.9vw, 2.4rem);
            color: $background;
        }
        
        &_wrap{
            @media (min-width: 768px){
                width: 100%;
            }
        }
        
        &_tgLink{
            display: inline-block;
            margin-top: 30px;
            
            font-family: $font-amatic;
            font-weight: 700;
            font-size: 2em;
            text-transform: uppercase;
            color: $dark-pink;
            
            text-decoration: none;
            
            cursor: pointer;
            
            @media (min-width: 768px)
            {
                color: $normal-pink
            }
        }
        
        &_negativeLetter{
            letter-spacing: -6px;
        }
    }
    
    &_image{
        display: block;
        height: 100%;
        max-width: 80%;
        margin: 0 auto;
        
        object-fit: contain;
        
        &_box{
            position: relative;
            
            aspect-ratio: 1 / 1;
            
            width: 100%;
            
            margin: 0 auto;
            
            @media (min-width: 768px){
                position: relative;
                z-index: 1;
                
                max-width: 38%;
                
                padding: 20px 20px;
                margin-left: clamp(15px, 2vw, 25px);
                
                background-color: $background;
                
                border-radius: 13% / 12%;
                box-shadow: inset 0px 0px clamp(5px, 0.7vw, 10px) 0px $dark-green;
                
                overflow: hidden;
            }
        }
    }
}